.desktop-icon {
    width:75px;
    height:82px;
    /* background:#ff0000; */
    text-align: center;
}

.desktop-icon img {
    margin-top:2px;
    /* margin-left:auto; */
}

.desktop-icon .icon-title {
    font-family:tahoma;
    font-size:8pt;
    color:#ffffff;
    text-shadow: 2px 2px 2px #000000;
}