body {
    margin:0;
    padding:0;
    background:url('../img/bliss.jpg') no-repeat center center fixed;
    background-size:cover;
    cursor: url('../img/mouse_cursor.png'), auto;
    -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


.desktop {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.taskbar {
    width:100%;
    height:30px;
    background:url('../img/taskbar.png');
    position:fixed;
    bottom:0;
    z-index:999996;
}

.startButton {
    width:100px;
    height:30px;
    background:url('../img/start_button.png');
}
.startButtonActive {
    background:url('../img/start_button_active.png');
}

.startButtonActive:hover {
    background:url('../img/start_button_active.png');
}


.startButtonOver:hover {
    background:url('../img/start_button_over.png');
}

.startMenu {
    width: 380px;
    height:478px;
    position:fixed;
    bottom:30px;
    background:url('../img/start_menu.png');
    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.6);
    border-radius: 8px 8px 0px 0px;
    display:none;
    z-index:999997;
}


.window {
    position: fixed;
    /* transition: all 0.1s; */
}
.normalActive .window-top-left {
    width:33px;
    height:30px;
    position:absolute;
    background:url('../img/window_top_left.png');
}

.normalActive .window-top-right {
    width:33px;
    height:30px;
    position:absolute;
    right:0;
    background:url('../img/window_top_right.png');
}


.normalActive .close-button {
    width:21px;
    height:21px;
    position:absolute;
    right:6px;
    top:6px;
    background:url('../img/close_button.png');
    background-position-y: 0;
}

.normalActive .close-button:hover {
    background-position-y: -21px;
}


.normalActive .close-button:active {
    background-position-y: -42px;
}


.normalActive .maximize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:29px;
    top:6px;
    background:url('../img/maximize_button.png');
    background-position-y: 0;
}

.normalActive .maximize-button:hover {
    background-position-y: -21px;
}


.normalActive .maximize-button:active {
    background-position-y: -42px;
}



.normalActive .minimize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:52px;
    top:6px;
    background:url('../img/minimize_button.png');
    background-position-y: 0;
}

.normalActive .minimize-button:hover {
    background-position-y: -21px;
}


.normalActive .minimize-button:active {
    background-position-y: -42px;
}

.normalActive .window-top {
    height:30px;
    position:absolute;
    background:url('../img/window_top.png');
    left:33px;
    right:33px;
}


.normalActive .window-left {
    width:4px;
    position:absolute;
    background:url('../img/window_left.png');
    top:30px;
    bottom:4px;
}
.normalActive .window-right {
    width:4px;
    position:absolute;
    background:url('../img/window_right.png');
    top:30px;
    bottom:4px;
    right:0px;
    cursor:e-resize;
}
.normalActive .window-bottom {
    height:4px;
    position:absolute;
    background:url('../img/window_bottom.png');
    bottom:0px;
    right:4px;
    left:4px;
    cursor:s-resize;
}

.normalActive .window-bottom-left {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_left.png');
    bottom:0px;
    left:0px;
}
.normalActive .window-bottom-right {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_right.png');
    bottom:0px;
    right:0px;
    cursor:se-resize;
}

.normalActive .window-body {
    position:absolute;
    background:#ffffff;
    bottom:4px;
    right:4px;
    left:4px;
    top:30px;
}



.normalInActive .window-top-left {
    width:33px;
    height:30px;
    position:absolute;
    background:url('../img/window_top_left_inactive.png');
}

.normalInActive .window-top-right {
    width:33px;
    height:30px;
    position:absolute;
    right:0;
    background:url('../img/window_top_right_inactive.png');
}


.normalInActive .close-button {
    width:21px;
    height:21px;
    position:absolute;
    right:6px;
    top:6px;
    background:url('../img/close_button.png');
    background-position-y: -63px;
}

.normalInActive .close-button:hover {
    background-position-y: -21px;
}


.normalInActive .close-button:active {
    background-position-y: -42px;
}





.normalInActive .maximize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:29px;
    top:6px;
    background:url('../img/maximize_button.png');
    background-position-y: -63px;
}

.normalInActive .maximize-button:hover {
    background-position-y: -21px;
}


.normalInActive .maximize-button:active {
    background-position-y: -42px;
}



.normalInActive .minimize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:52px;
    top:6px;
    background:url('../img/minimize_button.png');
    background-position-y: -63px;
}

.normalInActive .minimize-button:hover {
    background-position-y: -21px;
}


.normalInActive .minimize-button:active {
    background-position-y: -42px;
}



.normalInActive .window-top {
    height:30px;
    position:absolute;
    background:url('../img/window_top_inactive.png');
    left:33px;
    right:33px;
}

.normalInActive .window-left {
    width:4px;
    position:absolute;
    background:url('../img/window_left_inactive.png');
    top:30px;
    bottom:4px;
}
.normalInActive .window-right {
    width:4px;
    position:absolute;
    background:url('../img/window_right_inactive.png');
    top:30px;
    bottom:4px;
    right:0px;
    cursor:e-resize;
}
.normalInActive .window-bottom {
    height:4px;
    position:absolute;
    background:url('../img/window_bottom_inactive.png');
    bottom:0px;
    right:4px;
    left:4px;
    cursor:s-resize;
}

.normalInActive .window-bottom-left {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_left_inactive.png');
    bottom:0px;
    left:0px;
}
.normalInActive .window-bottom-right {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_right_inactive.png');
    bottom:0px;
    right:0px;
    cursor:se-resize;
}

.normalInActive .window-body {
    position:absolute;
    background:#ffffff;
    bottom:4px;
    right:4px;
    left:4px;
    top:30px;
}




.maxActive .window-top-left {
    width:33px;
    height:26px;
    position:absolute;
    background:url('../img/windowmax_top_left.png');
}

.maxActive .window-top-right {
    width:33px;
    height:26px;
    position:absolute;
    right:0;
    background:url('../img/windowmax_top_right.png');
}

.maxActive .window-top {
    height:26px;
    position:absolute;
    background:url('../img/windowmax_top.png');
    left:33px;
    right:33px;
}


.maxActive .window-left {
    display:none;
}
.maxActive .window-right {
    display:none;
}
.maxActive .window-bottom {
    display:none;
}

.maxActive .window-bottom-left {
    display:none;
}
.maxActive .window-bottom-right {
    display:none;
}

.maxActive .window-body {
    position:absolute;
    background:#ffffff;
    bottom:0px;
    right:0px;
    left:0px;
    top:26px;
}


.maxActive .close-button {
    width:21px;
    height:21px;
    position:absolute;
    right:2px;
    top:2px;
    background:url('../img/close_button.png');
    background-position-y: 0;
}

.maxActive .close-button:hover {
    background-position-y: -21px;
}


.maxActive .close-button:active {
    background-position-y: -42px;
}


.maxActive .maximize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:25px;
    top:2px;
    background:url('../img/restore_button.png');
    background-position-y: 0;
}

.maxActive .maximize-button:hover {
    background-position-y: -21px;
}


.maxActive .maximize-button:active {
    background-position-y: -42px;
}

.maxActive .minimize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:48px;
    top:2px;
    background:url('../img/minimize_button.png');
    background-position-y: 0;
}

.maxActive .minimize-button:hover {
    background-position-y: -21px;
}


.maxActive .minimize-button:active {
    background-position-y: -42px;
}


