body {
    margin:0;
    padding:0;
    background:url('../img/bliss.jpg') no-repeat center center fixed;
    background-size:cover;
    cursor: url('../img/mouse_cursor.png'), auto;
}


.desktop {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.taskbar {
    width:100%;
    height:30px;
    background:url('../img/taskbar.png');
    position:fixed;
    bottom:0;
    z-index:999996;
}

.startButton {
    width:100px;
    height:30px;
    background:url('../img/start_button.png');
}
.startButtonActive {
    background:url('../img/start_button_active.png');
}

.startButtonActive:hover {
    background:url('../img/start_button_active.png');
}


.startButtonOver:hover {
    background:url('../img/start_button_over.png');
}

.startMenu {
    width: 380px;
    height:478px;
    position:fixed;
    bottom:30px;
    background:url('../img/start_menu.png');
    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.6);
    border-radius: 8px 8px 0px 0px;
    display:none;
    z-index:999997;
}


.window {
    position:fixed;
}

.window-top-left {
    width:24px;
    height:30px;
    position:absolute;
    background:url('../img/window_top_left.png');
}

.window-top-right {
    width:80px;
    height:30px;
    position:absolute;
    right:0;
    background:url('../img/window_top_right.png');
}

.window-top {
    height:30px;
    position:absolute;
    background:url('../img/window_top.png');
    left:24px;
    right:80px;
}


.window-left {
    width:4px;
    position:absolute;
    background:url('../img/window_left.png');
    top:30px;
    bottom:4px;
}
.window-right {
    width:4px;
    position:absolute;
    background:url('../img/window_right.png');
    top:30px;
    bottom:4px;
    right:0px;
    cursor:e-resize;
}
.window-bottom {
    height:4px;
    position:absolute;
    background:url('../img/window_bottom.png');
    bottom:0px;
    right:4px;
    left:4px;
    cursor:s-resize;
}

.window-bottom-left {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_left.png');
    bottom:0px;
    left:0px;
}
.window-bottom-right {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_right.png');
    bottom:0px;
    right:0px;
    cursor:se-resize;
}

.window-body {
    position:absolute;
    background:#ffffff;
    bottom:4px;
    right:4px;
    left:4px;
    top:30px;
}