

.window {
    position: fixed;
    /* transition: all 0.1s; */
}

.normalActive .window-icon {
    position:absolute;
    top:8px;
    left:6px;
}

.normalActive .window-title {
    position:absolute;
    top:8px;
    left:26px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    font-weight:bold;
    color:#ffffff;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}


.maxActive .window-icon {
    position:absolute;
    top:3px;
    left:2px;
}

.maxActive .window-title {
    position:absolute;
    top:5px;
    left:22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    font-weight:bold;
    color:#ffffff;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

.maxInActive .window-icon {
    position:absolute;
    top:3px;
    left:2px;
}

.maxInActive .window-title {
    position:absolute;
    top:5px;
    left:22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    font-weight:bold;
    color:#d8e4f8;
    /* text-shadow: 1px 1px 0px rgba(0,0,0,0.4); */
}



.normalInActive .window-icon {
    position:absolute;
    top:8px;
    left:6px;
}

.normalInActive .window-title {
    position:absolute;
    top:8px;
    left:26px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    font-weight:bold;
    color:#d8e4f8;
    /* text-shadow: 1px 1px 0px rgba(0,0,0,0.4); */
}




.normalActive .window-top-left {
    width:33px;
    height:30px;
    position:absolute;
    background:url('../img/window_top_left.png');
}

.normalActive .window-top-right {
    width:33px;
    height:30px;
    position:absolute;
    right:0;
    background:url('../img/window_top_right.png');
}


.normalActive .close-button {
    width:21px;
    height:21px;
    position:absolute;
    right:6px;
    top:6px;
    background:url('../img/close_button.png');
    background-position-y: 0;
}

.normalActive .close-button:hover {
    background-position-y: -21px;
}


.normalActive .close-button:active {
    background-position-y: -42px;
}


.normalActive .maximize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:29px;
    top:6px;
    background:url('../img/maximize_button.png');
    background-position-y: 0;
}

.normalActive .maximize-button:hover {
    background-position-y: -21px;
}


.normalActive .maximize-button:active {
    background-position-y: -42px;
}



.normalActive .minimize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:52px;
    top:6px;
    background:url('../img/minimize_button.png');
    background-position-y: 0;
}

.normalActive .minimize-button:hover {
    background-position-y: -21px;
}


.normalActive .minimize-button:active {
    background-position-y: -42px;
}

.normalActive .window-top {
    height:30px;
    position:absolute;
    background:url('../img/window_top.png');
    left:33px;
    right:33px;
}


.normalActive .window-left {
    width:4px;
    position:absolute;
    background:url('../img/window_left.png');
    top:30px;
    bottom:4px;
}
.normalActive .window-right {
    width:4px;
    position:absolute;
    background:url('../img/window_right.png');
    top:30px;
    bottom:4px;
    right:0px;
    cursor:e-resize;
}
.normalActive .window-bottom {
    height:4px;
    position:absolute;
    background:url('../img/window_bottom.png');
    bottom:0px;
    right:4px;
    left:4px;
    cursor:s-resize;
}

.normalActive .window-bottom-left {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_left.png');
    bottom:0px;
    left:0px;
}
.normalActive .window-bottom-right {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_right.png');
    bottom:0px;
    right:0px;
    cursor:se-resize;
}

.normalActive .window-body {
    position:absolute;
    background:#ffffff;
    bottom:4px;
    right:4px;
    left:4px;
    top:30px;
}



.normalInActive .window-top-left {
    width:33px;
    height:30px;
    position:absolute;
    background:url('../img/window_top_left_inactive.png');
}

.normalInActive .window-top-right {
    width:33px;
    height:30px;
    position:absolute;
    right:0;
    background:url('../img/window_top_right_inactive.png');
}


.normalInActive .close-button {
    width:21px;
    height:21px;
    position:absolute;
    right:6px;
    top:6px;
    background:url('../img/close_button.png');
    background-position-y: -63px;
}

.normalInActive .close-button:hover {
    background-position-y: -21px;
}


.normalInActive .close-button:active {
    background-position-y: -42px;
}





.normalInActive .maximize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:29px;
    top:6px;
    background:url('../img/maximize_button.png');
    background-position-y: -63px;
}

.normalInActive .maximize-button:hover {
    background-position-y: -21px;
}


.normalInActive .maximize-button:active {
    background-position-y: -42px;
}



.normalInActive .minimize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:52px;
    top:6px;
    background:url('../img/minimize_button.png');
    background-position-y: -63px;
}

.normalInActive .minimize-button:hover {
    background-position-y: -21px;
}


.normalInActive .minimize-button:active {
    background-position-y: -42px;
}



.normalInActive .window-top {
    height:30px;
    position:absolute;
    background:url('../img/window_top_inactive.png');
    left:33px;
    right:33px;
}

.normalInActive .window-left {
    width:4px;
    position:absolute;
    background:url('../img/window_left_inactive.png');
    top:30px;
    bottom:4px;
}
.normalInActive .window-right {
    width:4px;
    position:absolute;
    background:url('../img/window_right_inactive.png');
    top:30px;
    bottom:4px;
    right:0px;
    cursor:e-resize;
}
.normalInActive .window-bottom {
    height:4px;
    position:absolute;
    background:url('../img/window_bottom_inactive.png');
    bottom:0px;
    right:4px;
    left:4px;
    cursor:s-resize;
}

.normalInActive .window-bottom-left {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_left_inactive.png');
    bottom:0px;
    left:0px;
}
.normalInActive .window-bottom-right {
    height:4px;
    width:4px;
    position:absolute;
    background:url('../img/window_bottom_right_inactive.png');
    bottom:0px;
    right:0px;
    cursor:se-resize;
}

.normalInActive .window-body {
    position:absolute;
    background:#ffffff;
    bottom:4px;
    right:4px;
    left:4px;
    top:30px;
}




.maxActive .window-top-left {
    width:33px;
    height:26px;
    position:absolute;
    background:url('../img/windowmax_top_left.png');
}

.maxActive .window-top-right {
    width:33px;
    height:26px;
    position:absolute;
    right:0;
    background:url('../img/windowmax_top_right.png');
}

.maxActive .window-top {
    height:26px;
    position:absolute;
    background:url('../img/windowmax_top.png');
    left:33px;
    right:33px;
}


.maxActive .window-left {
    display:none;
}
.maxActive .window-right {
    display:none;
}
.maxActive .window-bottom {
    display:none;
}

.maxActive .window-bottom-left {
    display:none;
}
.maxActive .window-bottom-right {
    display:none;
}

.maxActive .window-body {
    position:absolute;
    background:#ffffff;
    bottom:0px;
    right:0px;
    left:0px;
    top:26px;
}


.maxActive .close-button {
    width:21px;
    height:21px;
    position:absolute;
    right:2px;
    top:2px;
    background:url('../img/close_button.png');
    background-position-y: 0;
}

.maxActive .close-button:hover {
    background-position-y: -21px;
}


.maxActive .close-button:active {
    background-position-y: -42px;
}


.maxActive .maximize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:25px;
    top:2px;
    background:url('../img/restore_button.png');
    background-position-y: 0;
}

.maxActive .maximize-button:hover {
    background-position-y: -21px;
}


.maxActive .maximize-button:active {
    background-position-y: -42px;
}

.maxActive .minimize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:48px;
    top:2px;
    background:url('../img/minimize_button.png');
    background-position-y: 0;
}

.maxActive .minimize-button:hover {
    background-position-y: -21px;
}


.maxActive .minimize-button:active {
    background-position-y: -42px;
}






.maxInActive .window-top-left {
    width:33px;
    height:26px;
    position:absolute;
    background:url('../img/windowmax_top_left_inactive.png');
}

.maxInActive .window-top-right {
    width:33px;
    height:26px;
    position:absolute;
    right:0;
    background:url('../img/windowmax_top_right_inactive.png');
}

.maxInActive .window-top {
    height:26px;
    position:absolute;
    background:url('../img/windowmax_top_inactive.png');
    left:33px;
    right:33px;
}


.maxInActive .window-left {
    display:none;
}
.maxInActive .window-right {
    display:none;
}
.maxInActive .window-bottom {
    display:none;
}

.maxInActive .window-bottom-left {
    display:none;
}
.maxInActive .window-bottom-right {
    display:none;
}

.maxInActive .window-body {
    position:absolute;
    background:#ffffff;
    bottom:0px;
    right:0px;
    left:0px;
    top:26px;
}


.maxInActive .close-button {
    width:21px;
    height:21px;
    position:absolute;
    right:2px;
    top:2px;
    background:url('../img/close_button.png');
    background-position-y: -63px;
}

.maxInActive .close-button:hover {
    background-position-y: -21px;
}


.maxInActive .close-button:active {
    background-position-y: -42px;
}


.maxInActive .maximize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:25px;
    top:2px;
    background:url('../img/restore_button.png');
    background-position-y: -63px;
}

.maxInActive .maximize-button:hover {
    background-position-y: -21px;
}


.maxInActive .maximize-button:active {
    background-position-y: -42px;
}

.maxInActive .minimize-button {
    width:21px;
    height:21px;
    position:absolute;
    right:48px;
    top:2px;
    background:url('../img/minimize_button.png');
    background-position-y: -63px;
}

.maxInActive .minimize-button:hover {
    background-position-y: -21px;
}


.maxInActive .minimize-button:active {
    background-position-y: -42px;
}

